.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

div#menu {
  display: flex;
  justify-content: center;
  gap: 40px;
}

div#titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
}

div#titulo>h1 {
  background-color: rgba(25, 135, 84, 0.6);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #22222270;
}



/* Spinner animado */
.spinner {
  border: 6px solid rgba(25, 135, 84, 0.4);
  border-top: 6px solid rgba(25, 135, 84);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.playwrite-au-qld {
  font-family: "Playwrite AU QLD", cursive;
  font-weight: 100px;
  font-style: oblique;
}

.playwrite-au-qld-roboto {
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: x-large;
}

/* Animação de rotação */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  padding-top: 10vh;
  ;
}